<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<show id="loadPhoto" (click)="showPhoto('')" [url]="urlPhoto"></show>
<ul *ngIf="hide">
    <li *ngFor="let photo of photos">
        <h2><b>{{photo.id}} . </b> {{photo.title}}</h2>
        <img id="loadPhoto" (click)="showPhoto(photo.url)" src="{{photo.thumbnailUrl}}">

    </li>
</ul>
<p *ngIf="hide">
    <b *ngIf="showHideLoad" id="loadPhoto" (click)="appendPhoto()">Загрузить ещё ...</b>
</p>

